<div class="all">
  <div class="Cards">
    <div class="cardCont">
      <div class="Carousel">
        <app-carousal></app-carousal>
      </div>

      <div class="contentCont">
        <div class="tagLine">Including in a weekend getaway at Park Hyatt</div>

        <div class="tags">
          <div class="tagdata">3 nights <span class="dot"> . </span>Adults</div>
          <div class="tagdata">
            Beirut
            <span class="dot"> . </span>
            Amman <span class="dot"> . </span>
            Cairo + 3 more
          </div>

          <div class="iconsdata">
            <div>
              <span class="icons">
                <fa-icon class="user" [icon]="faConciergeBell"></fa-icon>
              </span>

              Park Hyatt Beirut . 5 Stars + Other
            </div>

            <div>
              <span class="icons">
                <fa-icon class="user" [icon]="faCoffee"></fa-icon>
              </span>
              Suite . Breakfast
            </div>

            <div>
              <span class="icons">
                <fa-icon class="user" [icon]="faCarAlt"></fa-icon>
              </span>
              Premium Car
            </div>

            <div>
              <span class="icons">
                <fa-icon class="user" [icon]="faSpa"></fa-icon>
              </span>
              Spa
            </div>
          </div>
        </div>
        <div class="cardFooter">
          <div class="flexData">
            <div class="avatar">
              <img src="../../assets/avatar.jpeg" />
            </div>
            <div class="avatarText">
              <div>Cathy</div>
              <div>Al Tayer</div>
            </div>
          </div>
          <div class="finalData">
            <div>From</div>
            <div>AED 685</div>
          </div>
        </div>
      </div>
    </div>

    <div class="cardCont">
      <div class="Carousel">
        <app-carousal></app-carousal>
      </div>

      <div class="contentCont">
        <div class="tagLine">
          A weekday getaway at Fujairah Rotana Resort & Spa
        </div>

        <div class="tags">
          <div class="tagdata">3 nights <span class="dot"> . </span>Adults</div>
          <div class="tagdata">
            Beirut
            <span class="dot"> . </span>
            Amman <span class="dot"> . </span>
            Cairo + 3 more
          </div>

          <div class="iconsdata">
            <div>
              <span class="icons">
                <fa-icon class="user" [icon]="faConciergeBell"></fa-icon>
              </span>

              Park Hyatt Beirut . 5 Stars + Other
            </div>

            <div>
              <span class="icons">
                <fa-icon class="user" [icon]="faCoffee"></fa-icon>
              </span>
              Suite . Breakfast
            </div>

            <div>
              <span class="icons">
                <fa-icon class="user" [icon]="faCarAlt"></fa-icon>
              </span>
              Premium Car
            </div>

            <div>
              <span class="icons">
                <fa-icon class="user" [icon]="faSpa"></fa-icon>
              </span>
              Spa
            </div>
          </div>
        </div>
        <div class="cardFooter">
          <div class="flexData">
            <div class="avatar">
              <img src="../../assets/avatar.jpeg" />
            </div>
            <div class="avatarText">
              <div>Cathy</div>
              <div>Al Tayer</div>
            </div>
          </div>
          <div class="finalData">
            <div>From</div>
            <div>AED 685</div>
          </div>
        </div>
      </div>
    </div>

    <div class="cardCont">
      <div class="Carousel">
        <app-carousal></app-carousal>
      </div>

      <div class="contentCont">
        <div class="tagLine">An unforgettable stay at Ajman Hotel</div>

        <div class="tags">
          <div class="tagdata">3 nights <span class="dot"> . </span>Adults</div>
          <div class="tagdata">
            Beirut
            <span class="dot"> . </span>
            Amman <span class="dot"> . </span>
            Cairo + 3 more
          </div>

          <div class="iconsdata">
            <div>
              <span class="icons">
                <fa-icon class="user" [icon]="faConciergeBell"></fa-icon>
              </span>

              Park Hyatt Beirut . 5 Stars + Other
            </div>

            <div>
              <span class="icons">
                <fa-icon class="user" [icon]="faCoffee"></fa-icon>
              </span>
              Suite . Breakfast
            </div>

            <div>
              <span class="icons">
                <fa-icon class="user" [icon]="faCarAlt"></fa-icon>
              </span>
              Premium Car
            </div>

            <div>
              <span class="icons">
                <fa-icon class="user" [icon]="faSpa"></fa-icon>
              </span>
              Spa
            </div>
          </div>
        </div>
        <div class="cardFooter">
          <div class="flexData">
            <div class="avatar">
              <img src="../../assets/avatar.jpeg" />
            </div>
            <div class="avatarText">
              <div>Cathy</div>
              <div>Al Tayer</div>
            </div>
          </div>
          <div class="finalData">
            <div>From</div>
            <div>AED 685</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
