<div class="homeMain">
<div class="homeCont">
  <div class="topBody">
    <div class="trendTitle">
      <span class="trends">Trends</span>
      <span class="dot"> . </span>
    </div>
    <div class="flexContent">
      <div class="text">Check out some of the most popular packages</div>
      <div class="text2">Explore our trending stays</div>

      <div class="link">
        View all
        <span>
          <fa-icon class="user" class="arrow" [icon]="faChevronRight">
          </fa-icon>
        </span>
      </div>
    </div>
  </div>

  <app-card></app-card>
  <div class="link2">
    View all stays
    <span>
      <fa-icon class="user" class="arrow" [icon]="faChevronRight"> </fa-icon>
    </span>
  </div>
</div>
</div>