<div class="tab">
  <div class="tabOne">Travel</div>
  <div class="tabtwo">Stay</div>
</div>

<div class="sections">

  <div class="sectionOne sectionDisplay">
    <div class="sectionTitle">Where</div>
    <div class="sectionContent">
        <input  type="text"placeholder="Do you want to travel ?">
    
    </div>
  </div>

  <div class="sectiontwo sectionDisplay">
    <div class="sectionTitle">When</div>
    <div class="sectionContent"> 
        <input type="text"placeholder="Do you want to go ?" >
    </div>
  </div>

  <div class="sectionThree sectionDisplay">
      <div>
    <div class="sectionTitle">Who</div>
    <div class="sectionContent ">
        <input type="text"placeholder="Are you going with ?">
     </div>
    </div>
     <div class="buttonCont">
          <button > Show all trips </button>
     </div>
  </div>

  

</div>
